#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
}
.item{
    display: flex;
    flex-direction: column;

}
svg,video,.wt-spinner,.wt-text-title-01,.wt-text-caption,.wt-badge,button{
    display: none;
}
a{
    color: black;
    text-decoration: none;
}
.v2-listing-card__title{
    display: block !important;
}